/*==============================================*/
/*============DEVELOPMENT ROUTE=================*/
/*==============================================*/

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/Fonts/poppins-v20-latin/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/Fonts/poppins-v20-latin/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/Fonts/poppins-v20-latin/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/Fonts/poppins-v20-latin/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/Fonts/poppins-v20-latin/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/Fonts/poppins-v20-latin/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/*==============================================*/
/*===============GIT PAGES ROUTE================*/
/*==============================================*/

/*
/* poppins-regular - latin
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options.
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/DevhausLeipzig-Camp-9/assets/Fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes 
  src: url('/DevhausLeipzig-Camp-9/assets/Fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 
       url('/DevhausLeipzig-Camp-9/assets/Fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers 
       url('/DevhausLeipzig-Camp-9/assets/Fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers 
       url('/DevhausLeipzig-Camp-9/assets/Fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS 
       url('/DevhausLeipzig-Camp-9/assets/Fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS 
}
*/